/*=== Universal Styles ===*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

.container {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

a {
    text-decoration: none;
    color: black;
    padding: 6px;
    margin: 6px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

p {
    line-height: 1.75em;
    margin: 0;
}


/*=== Header Styles ===*/

header {
    background-color: #FAFAFA;
    margin: 0;
}

.top-bar {
    padding: 2em 1.5em 0.5em 1.5em;
}

.banner {
    padding-bottom: 2em;
    margin-top: 1em;
}

.name {
    display: inline-block;
}

.profile-img {
    width: 75%;
    padding-top: 2em;
}

.profile-description {
    padding-top: 2em;
}

.main-nav li {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.main-nav a {
    display: block;
    padding: 15px 0;
    margin: .5em .5em;
}
/*=== Main Styles ===*/


#portfolio {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    text-transform: uppercase;
}

#contact {
    background-color: #FAFAFA; 
    padding-top: 2em;
    padding-bottom: 2em;
}

.contact-description {
    padding: 0 10em;
    margin-bottom: 2.5em;
}

.contact-info {
    margin-bottom: 1.5em;
}

.contact-info li {
    padding: 1em 0;
}

.title {
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;   
    text-transform: uppercase;
}

.card {
    margin-bottom: 1.2em;
    display: inline-block;
}

section {
    text-align: center;
}


/*=== Footer Styles ===*/

footer {
    text-align: center;
    background-color: #FAFAFA;    
    border-top: 1px solid lightgray;
    padding: 2em 1em 3em 1em;
}

.footer-name {
    float: left;
    margin: 0;
}

.footer-nav {
    float: right;
    display: inline-block;
}

.back-to-top {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-home,
.footer-portfolio,
.footer-contact {
    display: none;
}


/*=== Float Clearfix  ===*/

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }


/*=== Media Queries ===*/

@media (max-width: 768px) {
    .main-nav li {
        background-color: white;
    }
}

@media (min-width:768px) {

    .main-nav li {
        display: inline-block;
        background: none;
        margin: 0 0.5em;
    }

    .profile-img {
        width: 39%;
        float: right;
    }

    .profile-description {
        width: 59%;
        float: left;
        text-align: left;

    }

    .card {
        float: left;
        width: 50%;
        padding: 0 0.5em 0.5em;
    }

    .card p {
        width: 80%;
        margin: 0 auto;
    }

    .footer-home,
    .footer-portfolio,
    .footer-contact {
        padding: 0 10px 0 10px;
        float: right;
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;
    }

    .back-to-top {
        display: none;
    }
}


@media (min-width:1024px) {

    .name {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 15px 0;
    }

    nav {
        float: right;
    }

    .card {
        width: 33.33%;
    }
}